body {
    background-color: lightcyan;
    color: darkslategray;
    text-align: center;
    padding: 0;
    margin: 0;
}

header {
    background-color: lightseagreen;
    margin-top: 0;
    padding: 25px;
}

header h1 {
    font-size: 3em;
    font-family: 'Major Mono Display', monospace;
    letter-spacing: 0.5em;
    font-variant: small-caps;
}

header .menu, #duck-talk {
    display: flex;
}

header .menu .menu-item, #duck-talk {
    flex: auto;
    font-family: 'Major Mono Display', monospace;
    font-variant: small-caps;
}

main {
    padding: 20px 0 50px 0;
    margin-top: 20px;
    font-family: 'Josefin Slab', serif;
}

main h1 {
    letter-spacing: 0.5em;
}

#duck-talk {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

#duck-talk .cuak {
    font-size: 1.5em;
    letter-spacing: 0.5em;
    color: darkgoldenrod;
    font-weight: bolder;
}

.parvada {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}
.img-pato {
    width: 100px;
}

@media screen and (max-width: 480px) {
    header h1 {
        font-size: 3em;
        font-family: 'Major Mono Display', monospace;
        font-variant: small-caps;
    }
    
    #duck-talk {
        margin-top: 40px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    #duck-talk .cuak {
        font-size: 1.5em;
        color: darkgoldenrod;
        font-weight: bolder;
    }
}